notifications:
  webhooks: https://9n82rofre0.execute-api.us-east-1.amazonaws.com/dev/index
language: node_js
cache:
  bundler: true
  directories:
  - node_modules
node_js:
  - "7"
before_script:
  - chmod +x ./bin/hugo
  - npm install
script:
  - npm run build
  - ls -la